<!--Div for detail home-->
<div class="details" *ngIf="show == false">
  <app-home-details></app-home-details>
</div>


<!--Div for normal home-->
<div class="home">
<div class="bk">
  <img class="agent circle" src="https://i.pinimg.com/564x/1d/41/19/1d411999f93cddde118121ce477e8981.jpg" alt="Honeii"
   frameborder="0" (click)="show = !show">
</div>
<div class="bk-desing">
  <img class="star" src="https://data.whicdn.com/images/347738331/original.gif" alt="stars" frameborder="0">
</div>
<div class="bk-menu">
  <img class="logo" src="https://i.postimg.cc/T1ymDMPY/logo.png" alt="logo" frameborder="0">
  <img class="sailor-menu" src="https://i.postimg.cc/3RMNPJx3/menu.png" alt="menu" frameborder="0">
</div>
<div class="bg text-center">
  <!--Div for Centered Text & Input-->
  <div class="centered">
     <!--
      <p class="firstLine"> H &nbsp; O &nbsp; N &nbsp; E &nbsp; i &nbsp; i &nbsp;</p>
      <p class="secondLine">¿Te sientes solo? ¡Charla con Honeii!</p>
      -->
      <p> <input class="InputStyle" placeholder="¿Cuál es tu nombre?" (keyup.enter)="routerToChat()"
        style="font-family:Arial, FontAwesome" type="text" [(ngModel)]="User.name" > </p>
  </div>
  <img href="#" class="goChat btn" [routerLink]="['/chat', User.name]"
  src="https://i.postimg.cc/BbMZ5NmY/button.png">
</div>



