<div style="width: 40%; margin: auto; margin-top: 100px;">
  <div>
      <label for="">Hola <span style="font-weight:bold;">{{userChat.user}}</span>... Escribe algo</label>
  </div>
  <div class="inputContainer">
    <form (submit)="sendMessage()">
        <input [(ngModel)]="userChat.text" type="text" class="form-control" [ngModelOptions]="{standalone: true}">
    </form>
  </div>
  <div class="chatContainer">
    <div [ngClass]="{'local': message.messageType === 1, 'remote': message.messageType === 2}" *ngFor="let message of chat.chats">
      <label for="" style="font-weight: bold;">{{message.user}}</label>
      <span>: {{message.text}}</span>
    </div>
  </div>
</div>
